@model WebApplication1.Models.Employee

<div class="row" style="border:1px solid black;">
    <div class="col-lg-6">
        <h2>Name - @Model.FirstName</h2>
        <h3>LastName - @Model.LastName</h3>
        <p>Id - @Model.Id</p>
        <p>Email - @Model.Email</p>
    </div>
    <div class="col-lg-6">
        <p>Description - @Model.description.</p>
    </div>
    
</div>
